{%- from "macro.html.j2" import ns %}
<div class="container-fluid anchor skills-section" id="{{ i_section | lower | replace(' ','_') }}">
  <h1 class="text-center">{{ _('Skills') }}</h1>
{%- for i_skill_cat in skills.professional %}
  <div class="container d-flex-block">
    <h3 class="text-center">{{ i_skill_cat.category }}</h3>
    <div class="row" id="primary-skills-{{ i_skill_cat.category | lower | replace(' ','-') }}">
{%-   for i_skill in i_skill_cat.list %}
      <div class="col-xs-12 col-sm-6 col-lg-4 pt-2">
{%- if i_skill.url %}
        <a class="skill-card-link" href="{{ i_skill.url }}">
{%- endif %}
{%- if ns.background == "bg-white" %}
          <div class="card bg-dimmed">
{%- else %}
          <div class="card bg-white">
{%- endif %}
            <div class="card-head d-flex">
              <div class="col-12">
                <div class="row">
{%- if i_skill.icon %}
                  <img class="card-img-xs" src="../assets/img/{{ i_skill.icon }}" alt="{{ i_skill.name }} Logo" />
{%- endif %}
                  <h5 class="card-title" id="{{ i_skill.name | lower }}">{{ i_skill.name }}</h5>
                </div>
                <div class="row p-2">
                  <div class="col-12">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped text-right font-weight-bold" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
{%- if i_skill.color %}
                           style="width: {{ i_skill.level }}%; background-color:rgba(var(--md_color__{{ i_skill.color}}),1.0);" >
{%- else %}
                           style="width: {{ i_skill.level }}%; background-color:var(--skill_bar);" >
{%- endif %}
                        {{ i_skill.level }}%
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
{%-   if i_skill.summary %}
              <p class="card-text">{{ to_html(i_skill.summary) }}</p>
{%-   endif %}
            </div>
          </div>
{%- if i_skill.url %}
        </a>
{%- endif %}
      </div>
{%-   endfor %}
    </div>
{%-   if loop.index < skills.professional | length %}
  <hr>
{%-   endif %}
  </div>
{%- endfor %}
</div>
