  \section[\nerdfont]{[[ _('Contact') ]]}
[%- for i_item in ["email","phone"] %]
[%-   if i_item in basics and basics[i_item] %]
    \[[ i_item ]]{[[ basics[ i_item ]]]}
[%-   endif %]
[%- endfor %]
[%- if basics.location %]
    \location{%
[%-   for i_item in ["address","postalCode","city","country"] %]
[%-     if basics.location[i_item] %]
[%-       if i_item == "postalCode" %]
      [[ basics.location[i_item] -]]
[%-       elif loop.index < 4 %]
      [[ basics.location[i_item] ]] \newline
[%-       else %]
      [[ basics.location[i_item] ]]
[%-       endif %]
[%-     endif %]
[%-   endfor %]
    }
[%- endif %]
[%- if "driver" in basics and basics.driver %]
    \driver{[[ basics.driver ]]}
[%- endif %]
